header{
  width: 100%;
  height: 60px;
  background-color: #3E7B27;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo i{
  margin-left: 20px;
}
header p{
  color: white;
  font-size: 24px;
  margin-left: 20px;
}
.nav-bar{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-right: 20px;
}
.nav-bar p{
  color: white;
  font-family: poppins;
  font-size: 15px;
}
.hero-section{
  width: 100%;
  height: 500px;
  background-color: #cbfdb9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.headings{
  width: 50%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}
.top-heading{
  width: 100%;
  font-family: poppins;
  color: black;
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  margin-top: 100px;
}
.extra-info{
  width: 100%;
  font-family: poppins;
  text-align: left;
}
.doctor-login{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.doctor-login-form{
  width: 400px;
  height: 450px;
  background-color: white;
  border-radius: 8px;
}
.doctor-login-form h2{
  margin-left: 10px;
  font-family: poppins;
  color: green;
}
.doctor-login-form form{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: poppins;
}
.doctor-login-form input{
  border: 0px;
  width: 300px;
  font-size: 17px;
  margin-left: 20px;
  margin-top: 10px;
}
.doctor-login-form input:focus{
  outline: none;
}
.doctor-login-form label{
  margin-left: 20px;
  font-size: 12px;
  margin-top: 20px;
}
.doctor-login-form button{
  margin-left: 20px;
  width: 100px;
  height: 30px;
  margin-top: 20px;
  border-radius: 5px;
  border: 0px;
  background-color: #3E7B27;
  color: white;
  font-family: poppins;
  cursor: pointer;
}
.doctor-registration{
  width: 100%;
  height: auto;
}
.doctor-registration P{
  margin-left: 20px;
  font-family: poppins;
  color: #3E7B27;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 24px;
}
.doctor-registration form{
  display: flex;
  flex-direction: column;
}
.doctor-registration form label{
  margin-left: 20px;
  font-size: 12px;
  margin-top: 20px;
  font-family: poppins;
}
.doctor-registration form input{
  border: 0px;
  width: 300px;
  font-size: 17px;
  margin-left: 20px;
  margin-top: 5px;
  border-radius: 7px;
  padding: 10px;
}
.doctor-registration form input:focus{
  border: 2px solid #3E7B27;
  outline: #3E7B27;
}
.doctor-registration form button{
  margin-left: 20px;
  width: 200px;
  height: 30px;
  margin-top: 20  px;
  border-radius: 5px;
  border: 0px;
  background-color: #3E7B27;
  color: white;
  font-family: poppins;
  cursor: pointer;
}